[project]
	description = Calendar that easy to use, easy to customise
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ohno Shin'ichi (shin1ohno)
[access "refs/for/refs/*"]
	read = group user/Ohno Shin'ichi (shin1ohno)
	push = group user/Ohno Shin'ichi (shin1ohno)
	label-Code-Review = -2..+2 group user/Ohno Shin'ichi (shin1ohno)
	label-Verified = -1..+1 group user/Ohno Shin'ichi (shin1ohno)
	rebase = group user/Ohno Shin'ichi (shin1ohno)
	removeReviewer = group user/Ohno Shin'ichi (shin1ohno)
	submit = group user/Ohno Shin'ichi (shin1ohno)
[access "refs/heads/*"]
	read = group user/Ohno Shin'ichi (shin1ohno)
	create = group user/Ohno Shin'ichi (shin1ohno)
	push = +force group user/Ohno Shin'ichi (shin1ohno)
	pushMerge = group user/Ohno Shin'ichi (shin1ohno)
[access "refs/tags/*"]
	push = +force group user/Ohno Shin'ichi (shin1ohno)
	pushTag = group user/Ohno Shin'ichi (shin1ohno)
	pushSignedTag = group user/Ohno Shin'ichi (shin1ohno)
