- events = calendar.events_on(date)

%li.date{ :class => hightlight_classes(date, calendar).join(' '), :data => { :date => date }}
  .header
    %span{ :class => wday_class_for(date) }= date.strftime('%-d')
  - if events.present?
    %ul.events
      - events.each do |event|
        %li{ :class  => "event #{event.class.to_s.underscore}" }
          = render "shared/event_cal/#{event.class.to_s.underscore}", :event => event
