.calendar.monthly
  %ul.dates
    - wdays_row_for(@calendar).each do |wday|
      %li.date.wday_header= wday
    - dates = (@calendar.start_on .. @calendar.end_on).to_a
    = render :partial => 'date', :collection => dates
