%li.date
  = l date, :format => :calendar_cell
  - event_for_date = calendar.events_on(date)
  - if event_for_date.present?
    %ul.events
      - event_for_date.each do |event|
        %li.event= event.name
