- event_for_date = calendar.events_on(date)

%li.date{ :class => hightlight_classes(date, calendar).join(' '), :data => { :date => date } }
  .header
    %span{ :class => wday_class_for(date) }= l date, :format => :calendar_cell
  - if event_for_date.present?
    %ul.events
      - event_for_date.each do |event|
        %li.event= render "event_calendar/#{event.class.to_s.underscore}", :event => event
